<!DOCTYPE html>
html(lang="en")
 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title 
        link(rel="stylesheet", href="/css/style.css",type="text/css")
    body
     header  
         nav
             button(type="button",onclick="menuOne()") Menu 1
             button(type="button",onclick="menuTwo()") Menu 2   

    
    block content
        

    footer 
      p Linda Akmentiņa 2023

    